<div class="reservations-container">
  <div class="grid">
    <mat-card *ngFor="let reservation of userReservations" class="reservation-card mat-elevation-z3">
      <img mat-card-image [src]="reservation.poster" alt="{{ reservation.title }}" />
      
      <mat-card-content>
        <div class="card-header">
          <h3>{{ reservation.title }}</h3>

          <button
            *ngIf="!isRatedMap[reservation.movieId]"
            (click)="toggleWatched(reservation.movieId)">
            <mat-icon
              class="watched-icon"
              [ngClass]="{
                'watched': isWatchedMap[reservation.movieId],
                'unwatched': !isWatchedMap[reservation.movieId]
              }"
            >
              {{ isWatchedMap[reservation.movieId] ? 'visibility' : 'visibility_off' }}
            </mat-icon>
          </button>
        </div>

        <!-- Zvezdice za ocenjivanje -->
        <div *ngIf="isWatchedMap[reservation.movieId] && !isRatedMap[reservation.movieId]" class="star-rating">
          <mat-icon
            *ngFor="let star of [1, 2, 3, 4, 5]"
            (click)="rateMovie(reservation.movieId, star)"
            [ngClass]="{ 'rated': star <= rateMap[reservation.movieId] }"
            class="star"
          >
            {{ star <= rateMap[reservation.movieId] ? 'star' : 'star_border' }}
          </mat-icon>
        </div>

        <div *ngIf="isRatedMap[reservation.movieId]" class="star-rating">
          <mat-icon *ngFor="let star of [1, 2, 3, 4, 5]" 
                    [ngClass]="{ 'rated': star <= rateMap[reservation.movieId] }"
                    class="star">
            {{ star <= rateMap[reservation.movieId] ? 'star' : 'star_border' }}
          </mat-icon>
        </div>
      </mat-card-content>

      <mat-card-actions align="end">
        <button
          *ngIf="!isRatedMap[reservation.movieId]"
          mat-icon-button
          color="warn"
          (click)="cancelReservation(reservation.movieId)"
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
