mat-toolbar {
  display: flex;
  justify-content: space-between; 
  align-items: center; /* Vertikalno centriranje */
}

.movies-title {
  flex: 1; 
}

.username {
  margin-right: 20px;
}

.basket-btn {
  margin-left: 20px;
  margin-right: 20px;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}
