<mat-toolbar color="primary">
  <span class="movies-title" routerLink="/movies" style="cursor: pointer;">Movies</span>

  <!-- Korpa sa brojem stavki -->
  <ng-container *ngIf="authService.isLoggedIn(); else guestLinks">    
    <button mat-icon-button routerLink="/basket" class="basket-btn">
    <mat-icon>shopping_cart</mat-icon>
    <span *ngIf="basketItemCount > 0" class="badge">{{ basketItemCount }}</span>
  </button>
    <span class="username">{{ username }}</span> <!-- Prikazivanje korisničkog imena -->
    <button mat-button (click)="logout()">Logout</button>


  </ng-container>

  <ng-template #guestLinks>
    <button mat-button routerLink="/login">Login</button>
    <button mat-button routerLink="/register">Register</button>
  </ng-template>
</mat-toolbar>
