<!-- Unutar mat-toolbar -->
<mat-toolbar color="primary">
  <span class="movies-title" routerLink="/movies" style="cursor: pointer;">Movies</span>

  <ng-container *ngIf="authService.isLoggedIn(); else guestLinks">
    <button mat-icon-button routerLink="/basket" class="basket-btn">
      <mat-icon>shopping_cart</mat-icon>
      <span *ngIf="basketItemCount > 0" class="badge">{{ basketItemCount }}</span>
    </button>

    <!-- Username kao dropdown -->
    <button mat-button [matMenuTriggerFor]="userMenu">{{ username }}</button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="/reservation">Reservations</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </ng-container>

  <ng-template #guestLinks>
    <button mat-button routerLink="/login">Login</button>
    <button mat-button routerLink="/register">Register</button>
  </ng-template>
</mat-toolbar>
